<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Libro de Visitas </title>
</head>
<body>
    <main>
        <header>
            <nav>
                <p> <a href="Blog.html"> blog </a> </p>
                <p> <a href="Contacto.html"> Contacto </a> </p>
                <p> <a href="Acercademi.html"> Sobre mí </a> </p> 
                <p> <a href="Index.html"> Inicio </a> </p> 
                <p> <a href="Portafolio.html"> Portafolio </a> </p>       
            </nav>
        </header>
        <section>
        </section>
    </main>
        <form>
            <h2> Contacto</h2>
    
            <form action="formulario contacto" method="get">
                <ul>
                 <li>
                   <label for="name"> Tu Nombre:* </label>
                   <input type="text" id="name" name="user_name">
                 </li>
                 <li>
                    <label for="text"> Asunto: </label>
                    <input type="text" id="text" name="your-subject">
                </li>
                <li>
                   <label for="mail"> Tu E-mail:* </label>
                   <input type="email" id="mail" name="user_mail">
                 </li>
                 <li>
                   <label for="msg"> Tu Comentario: </label>
                   <textarea id="msg" name="user_message"></textarea>
                 </li>
                 <li class="button">
                    <button type="submit">Envíe su mensaje</button>
                  </li>
                </ul>
            </form>
        </form>
</body>
</html>